<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.getglamour">

    <application
        android:allowBackup="true"
        android:icon="@drawable/getglamoyrsqicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/getglamoyrsqicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BeautyTip"></activity>
        <activity android:name=".WorkoutTip" />
        <activity android:name=".DailyTips" />
        <activity android:name=".Health" />
        <activity android:name=".WorkOut" />
        <activity android:name=".DashBoard" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Glamour_Description4" />
        <activity android:name=".Glamour_Description3" />
        <activity android:name=".Glamour_description2" />
        <activity android:name=".Glamour_Description" />
        <activity android:name=".StartGlamour" />
        <activity android:name=".Glamour_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>